* {
	font-family: "Montserrat"
}

body {
    padding: 0;
    margin: 0;
    background: #333333;
}

.main-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.list-container {
	width: 560px;
	height: 100%;
	/*border-right: 2px solid #f76054;*/
	border-right: 1px solid #171717;
}

.map-container {
    display: flex;
    position: relative;
    height: 100%;
    min-height: 100%;
    width: calc(100% - 560px);
}

	.map-flex-container{
		position: absolute; 
		left: 0; 
		right: 0; 
		top: 0; 
		bottom: 0;
		filter: blur(0px);
    	overflow: hidden;
    	z-index: 3;
    	transition: all 0.4s ease;
	}

	.map-blur {
		transition: all 0.4s ease;
		filter: blur(5px) !important;
	}

.modal-atm-container {
	position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.modal-position {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #d55349;
    background: #333333;
    color: white;

}

static-map {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

static-map > div {

    padding-bottom: 5px;
}

.close-button {
	color: #151515;
    font-weight: 800;
    background: #d55349;
    border-radius: 4px;
    padding: 8px 24px;
    margin-top: 20px;
    cursor: default;
}

#map {
    height: 100%;
}

.list-input {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    background: #2b2b2b;
    border-bottom: 1px solid #171717;
    justify-content: space-between;
}

.list > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	color: white;
}

.list {
	overflow-y: auto;
    height: calc(100% - 40px);
}

.list-li {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #2b2b2b;
	font-size: 12px;
	padding: 5px;
	justify-content: space-between;
	/*width: 100%;*/
}

.list-li:hover {
	background: #3c3c3c;
}

.lli-l {
	display: flex;
	flex-direction: column;
}

.lli-r {
    justify-content: center;
    align-items: center;
    display: flex;
}

.atm-name {
	padding-bottom: 2px;
}

.atm-address {
	color: #777777;
}

.atm-distance {
	color: white;
	font-weight: 800;
}

.atm-distance span {
	color: #585858;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f76054;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #f76054;
}

label {
	color: #e0574c;
	padding-left: 5px;
}

label input {
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0px 0px 0px 0px red;
    border: none;
    border: 1px solid #1f1f1f;
    background: #272727;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    color: white;

}

label input:hover {
	background: #333333;;
}

.sort-container {
	display: flex;
	padding-right: 5px;
	cursor: default;
}

.sort-container span {
	padding-left: 5px;
	padding-right: 5px;
	color: #e0574c;
}

.sort-label {
	color: #e0574c;
	padding-right: 5px;
}
.sort-name {
	color: white;
	font-weight: 200;
}
.sort-distance {
	color: white;
	font-weight: 200;
}

.sort-name:hover {
	color: #adadad;
}
.sort-distance:hover {
	color: #adadad;
}

.img-container img {
    width: 100%;
    display: block;
}