@media (max-width: 767px) and (orientation:portrait) {

.main-container {
    flex-direction: column;
}

.list-container {
	width: auto;
    height: 50vh;
    border-right: none;
    border-bottom: 1px solid #171717;
}

.map-container {
	height: 50vh;
    min-height: 0; 
    width: 100%;
}

.list-input {
	flex-direction: column;
	height: 50px;
	justify-content: space-around;
}

.list {
	height: calc(100% - 50px);
}

.modal-atm-container {
	height: 200%;
    top: -100%;
}

.modal-position {
	width: auto;
}

}