<div class="main-container">
	<div class="list-container">
		<div class="list-input">
			<!-- <input ng-model="searchText" type="text" name=""> -->
			<label>Find: <input ng-model="find.name"></label>
			<div class="sort-container">
				<div class="sort-label">Sort by:</div>
				<div class="sort-name" ng-click="sortBy('name')">Name</div>
				<span>|</span>
				<div class="sort-distance" ng-click="sortBy('distance')">Distance</div>
			</div>
		</div>
		<div class="list">
			<ul class="list-ul">
			    <li ng-click="getAtm(atm)" class="list-li" ng-repeat="atm in atmList | filter: find | orderBy:propertyName:!reverse">
			    	<div class="lli-l">
						<div class="atm-name">{{ atm.name }}</div>
						<div class="atm-address">{{ atm.vicinity }}</div>
					</div>
			    	<div class="lli-r">
			    		<div class="atm-distance">{{ atm.distance | round }}<span>m</span></div>
			    	</div>
			    </li>
			</ul>
		</div>

	</div>
	<div class="map-container">
		<div ng-if="showModal" class="modal-atm-container">
			<div class="modal-position">
			<static-map map-attr="mapAttr" close-modal="closeModal(a)"></static-map>
			</div>
		</div>
		<div class="map-flex-container">
			<div id="map"></div>
		</div>
	</div>
</div>





