<div class="img-container">
<img ng-if="present" ng-src="	{{ googleStaticUrl }}
								center={{ position }}
								&{{ zoom }}
								&{{ size }}
								&{{ style }}
								&{{ marker }}
								&{{ APIkey }}">
</div>
<div>{{atm.name}}</div>
<div>{{atm.vicinity}}</div>
<div class="atm-distance">Distance: {{ atm.distance | round }}<span>m</span></div>

<div class="close-button" ng-click="closeModal()">CLOSE</div>